<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/cake.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="stylesheet" type="text/css" href="css/flexslider.css">
	<script src="js/jquery-1.12.3.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/script.js"></script>
	<title>Document</title>
</head>
<body>
<!--header-->
	<header>
		<div>
			<p>КУХНЯ</p>
		</div>
		<nav>
			<ul class="menu">
				<li><a href="#">Головна</a></li>
				<li><a href="#">Роботи</a></li>
				<li><a href="#">Начинки</a></li>
				<li><a href="#">Замовлення</a></li>
				<li><a href="#">Відгуки</a></li>
				<li><a href="#">Контакти</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="flexslider">
  		<ul class="slides">
		    <li>
		      <img src="img/5wx6PQg8nRU.jpg" height="1920" width="1278"/>
		    </li>
		    <li>
		      <img src="img/OaT1hnZtUAU.jpg"/>
		    </li>
		    <li>
		      <img src="img/V2qDxXWN1EU.jpg"/>
		    </li>
		    <li>
		      <img src="img/dHtt0KiVgHM.jpg"/>
		    </li>
  		</ul>
		</div>

	<!--about page-->
	<div class="about">	
			<p> Вітаємо вас в онлайн кондитерській "Кухня".</p> 
			<p>Якщо Вам потрібен весільний торт або candy bar, а можливо торт на день народження кращого друга або оригінальний подарунок для Вашої улюбленої бабусі, ми з радістю Вам допоможемо.</p>
	</div>



	<!--Order form -->
		<div class="order">
		<img src="img/heard.svg">
			<p>Замовити</p>
			<form class="orderForm">
				<input class="orderInput" type="text" placeholder="Ім`я">
				<input class="orderInput" type="email" placeholder="Емейл">
				<textarea rows="5" class="orderInput" placeholder="Побажання до замовлення"></textarea>
				<button class="send orderInput">Відправити</button>
			</form>
			<img src="img/heard.svg">
		</div>
	<!--Taste cake-->
		<div class="taste">

			<p>Начинки тортів</p>
			<div class="line">
				<div class="tasteBlock">
				<img src="img/taste/nachinkaDiana.png" height="76" width="78">
				<p class="tasteName">Шоколадна</p>
				<span>Kоржі - бісквіт; Hачинка - арахіс, родзинки, банан; Крем - шоколад.</span>
				</div>

				<div class="tasteBlock">
				<img src="img/taste/nachinkaMilka.png" height="76" width="78">
				<p class="tasteName">Горіхова</p>
				<span>Коржі - бісквіт білий; Начинка - джем, арахіс; Крем - масло, іриска.</span>
				</div>

				<div class="tasteBlock">
				<img src="img/taste/nachinkaTrufelnaya.png" height="76" width="78">
				<p class="tasteName">Трюфельна</p>
				<span>Коржі - бісквіт; Крем - масло, какао, згущене молоко.</span>
				</div>
			</div>
			
			<div class="line">
				<div class="tasteBlock">
				<img src="img/taste/nachinkaPrajskaya.png" height="76" width="78">
				<p class="tasteName">Празька</p>
				<span>Коржі - шоколадний бісквіт; Крем - масло, какао,повидло, шоколад, згущене молоко.</span>
				</div>

				<div class="tasteBlock">
				<img src="img/taste/nachinkaPancho.png" height="76" width="78">
				<p class="tasteName">Сметанкова</p>
				<span>Коржі - бісквіт; Начинка - вишня, родзинки, волоський горіх; Крем - вершки, сметана.</span>
				</div>

				<div class="tasteBlock">
				<img src="img/taste/nachinkaKlyuchik.png" height="76" width="78">
				<p class="tasteName">Кавова</p>
				<span>Коржі - бісквіт білий і кавовий; Начинка - архіс; Крем - ириска, масло.</span>
				</div>
			</div>
				
			<div class="line">
				<div class="tasteBlock">
				<img src="img/taste/nachinkaRazvalini.png" height="76" width="78">
				<p class="tasteName">Вершкова</p>
				<span>Коржі -вершковий бісквіт; Начинка - персик,лимонний джем;крем - творог, вершки.</span>
				</div>

				<div class="tasteBlock">
				<img src="img/taste/nachinkaFruktovaya.png" height="76" width="78">
				<p class="tasteName">Фруктова</p>
				<span>Коржі - бісквіт; Начинка - банан, ківі, персик, ананас, желе;Крем - вершки, згущене молоко, йогурт.</span>
				</div>

				<div class="tasteBlock">
				<img src="img/taste/nachinkaNich.png" height="76" width="78">
				<p class="tasteName">Вишнева</p>
				<span>Коржі - бісквіт; Начинка - вишня, родзинки, волоський горіх; Крем - вершки, сметана.</span>
			  </div>
			</div>

		</div>
	</main>
	<footer>

	</footer>
</body>
</html>