<main>
		<div class="flexslider">
  		<ul class="slides">
		    <li>
		      <img src="img/5wx6PQg8nRU.jpg" height="1920" width="1278"/>
		    </li>
		    <li>
		      <img src="img/OaT1hnZtUAU.jpg"/>
		    </li>
		    <li>
		      <img src="img/V2qDxXWN1EU.jpg"/>
		    </li>
		    <li>
		      <img src="img/dHtt0KiVgHM.jpg"/>
		    </li>
  		</ul>
		</div>

	<!--about page-->
	<img src="img/cook.svg">
	<div class="price">
		<div class="cakePrice">
			<h2>280 грн.</h2>
			<img src="img/price/service1.svg">
			<p class="priceName">Ціна на торти за 1кг</p>
		</div>
		<div class="cakePrice">
			<h2>20 грн</h2>
			<img src="img/price/service2.svg">
			<p class="priceName">Ціна на каптейки за 1шт</p>
		</div>
		<div class="cakePrice">
			<h2>15 грн</h2>
			<img src="img/price/service3.svg">
			<p class="priceName">Ціна на донати за 1шт</p>
		</div>
	</div>
	<div class="about">	
			<p> Вітаємо вас в онлайн кондитерській "Кухня".</p> 
			<p>Якщо Вам потрібен весільний торт або candy bar, а можливо торт на день народження кращого друга або оригінальний подарунок для Вашої улюбленої бабусі, ми з радістю Вам допоможемо.</p>
			<p>Мінімальна вага торта від 2,5 кг.<br>Остаточну вартість торта можна взнати після зважування готового виробу, оскільки всі торти є унікальними, тому важко вийти на точну вагу торта.<br>Торти тільки на натуральній основі, фрукти свіжі або заморожені без додавання штучних смакових наповнювачів, без використання маргарину, рослинних вершків і яєчного порошку.Барвники виключно харчові</p>
			<h3></h3>
	</div>
  <!--Our works-->
  <div class="works" id="works">
		<p>Наші Роботи</p>
		<img src="img/heard.svg">
		<div class="worksBlock">
			<img src="img/works/w1.jpg">
			<img src="img/works/w2.jpg">
			<img src="img/works/w3.jpg">
			<img src="img/works/w4.jpg">
			<img src="img/works/w5.jpg">
			<img src="img/works/w6.jpg">
			<img src="img/works/w7.jpg">
			<img src="img/works/w8.jpg">
			<img src="img/works/w9.jpg">
			<img src="img/works/w10.jpg">
			<img src="img/works/w11.jpg">
			<img src="img/works/w12.jpg">
			<img src="img/works/w13.jpg">
			<img src="img/works/w14.jpg">
			<img src="img/works/w15.jpg">
			<img src="img/works/w16.jpg">
			<img src="img/works/w17.jpg">
			<img src="img/works/w18.jpg">
			<img src="img/works/w19.jpg">
			<img src="img/works/w20.jpg">
			<img src="img/works/w21.jpg">
			<img src="img/works/w22.jpg">
			<img src="img/works/w23.jpg">
			<img src="img/works/w24.jpg">
		</div>
  </div>
		<img src="img/cook.svg">
	<!--Taste cake-->
		<div class="taste" id="topping">
			<p>Начинки Tортів</p>
			<div class="line">
				<div class="tasteBlock">
				<img src="img/taste/nachinkaDiana.png" height="76" width="78">
				<p class="tasteName">Шоколадна</p>
				<span>Kоржі - бісквіт; Hачинка - арахіс, родзинки, банан; Крем - шоколад.</span>
				</div>

				<div class="tasteBlock">
				<img src="img/taste/nachinkaMilka.png" height="76" width="78">
				<p class="tasteName">Горіхова</p>
				<span>Коржі - бісквіт білий; Начинка - джем, арахіс; Крем - масло, іриска.</span>
				</div>

				<div class="tasteBlock">
				<img src="img/taste/nachinkaTrufelnaya.png" height="76" width="78">
				<p class="tasteName">Трюфельна</p>
				<span>Коржі - бісквіт; Крем - масло, какао, згущене молоко.</span>
				</div>
			</div>
			
			<div class="line">
				<div class="tasteBlock">
				<img src="img/taste/nachinkaPrajskaya.png" height="76" width="78">
				<p class="tasteName">Празька</p>
				<span>Коржі - шоколадний бісквіт; Крем - масло, какао,повидло, шоколад, згущене молоко.</span>
				</div>

				<div class="tasteBlock">
				<img src="img/taste/nachinkaPancho.png" height="76" width="78">
				<p class="tasteName">Сметанкова</p>
				<span>Коржі - бісквіт; Начинка - вишня, родзинки, волоський горіх; Крем - вершки, сметана.</span>
				</div>

				<div class="tasteBlock">
				<img src="img/taste/nachinkaKlyuchik.png" height="76" width="78">
				<p class="tasteName">Кавова</p>
				<span>Коржі - бісквіт білий і кавовий; Начинка - архіс; Крем - ириска, масло, вершки</span>
				</div>
			</div>
				
			<div class="line">
				<div class="tasteBlock">
				<img src="img/taste/nachinkaRazvalini.png" height="76" width="78">
				<p class="tasteName">Вершкова</p>
				<span>Коржі -вершковий бісквіт; Начинка - персик,лимонний джем;крем - творог, вершки.</span>
				</div>

				<div class="tasteBlock">
				<img src="img/taste/nachinkaFruktovaya.png" height="76" width="78">
				<p class="tasteName">Фруктова</p>
				<span>Коржі - бісквіт; Начинка - банан, ківі, персик, ананас, желе;Крем - вершки, згущене молоко, йогурт.</span>
				</div>

				<div class="tasteBlock">
				<img src="img/taste/nachinkaNich.png" height="76" width="78">
				<p class="tasteName">Вишнева</p>
				<span>Коржі - бісквіт; Начинка - вишня, родзинки, волоський горіх; Крем - вершки, сметана.</span>
			  </div>
			</div>
		</div>

			<!--Order form -->

		<div class="order" id="order">
		<div class="topOrder">&nbsp;</div>
		<img src="img/heard.svg">
			<p>Замовити</p>
			<div id="sendMessage"></div>
			<form id="orderForm">
				<input class="orderInput" name="user" type="text" placeholder="Ім`я">
				<input class="orderInput" name="email" type="email" placeholder="Емейл">
				<input class="orderInput" name="phone" type="tel" placeholder="Контактний тел.">
				<textarea rows="5" class="orderInput" name="description" placeholder="Побажання до замовлення"></textarea>
				<button id="send">Відправити</button>
			</form>
			<img src="img/heard.svg">
			<div class="bottomOrder">&nbsp;</div>
		</div>

		<!--Contact us-->
		<div class="contact" id="contact">
			<p>Ми у соціальних мережах</p>
			<a href="#"><img src="img/facebook.svg"></a>
			<a href="#"><img src="img/vimeo.svg"></a>
			<a href="https://www.instagram.com/kitchenlviv/"><img src="img/instagram.svg"></a>
		</div>
		<img src="img/car.svg">
		<div class="contactInfo">
			<p>Доставка в межах Львова безкоштовна</p>
			<p>Замовлення приймаються мінінум за 3 дні</p>
			<p>По всім запитанням звертайтесь по № 093-56-39-256</p>	
		</div>
	</main>
