@font-face {
font-family: "myFont";
src: url("../../fonts/Deco.ttf"); }

@font-face {
font-family: "moon_flower_boldregular";
src: url("../../fonts/Ampir.ttf"); }
@font-face {
font-family: "symbol";
src: url("../../fonts/codropsicons.ttf"); }
body{
	overflow-x: hidden;
}
main{
	min-height: 233px;
}
header {
	background: url(../../img/header.png);
	background-repeat: repeat-x;
	height: 240px; 
}

header div p ,.order p, .taste p,.works p,.contact p{
	display: block;
	margin-bottom: 30px;
	text-align: center;
	font-size: 70px;
	font-family: myFont;
	font-variant: small-caps;
	padding-top: 30px; 
	text-shadow: 2px 2px 0 rgba(223, 223, 223, 0.9);
}

header p:hover,.order p:hover,.works p:hover{
	transform: scale(1.05, 1.05); 
}
.menu{
	margin-top: 50px;
	width: 80%;
	margin-left: 12%;
}
.menu li{
	margin: 0% 1.5%;
	float: left;
	transition: background .2s;
	list-style: none;
	background-color: rgba(244, 254, 255, 0.13);
	height: 35px;
	padding: 10px;
	border-radius: 25px;
}
.menu li:hover{
	transform: scaleY(1.25);
	background-color: rgba(181, 248, 240, 0.32);
}
.menu a{
	text-shadow: 2px 2px 0 rgba(223, 223, 223, 0.9);
	font-size: 20px;
	margin-right: 10px;
	color: rgba(75, 75, 83, 0.86);
	font-family: "moon_flower_boldregular";
	text-decoration: none;
}

/*About page*/
.price{
	width: 80%;
	margin-left: 10%;
	margin-top: 40px;
}
.cakePrice{
	width: 33%;
	display: inline-block;
}
.cakePrice img{
	width: 100px;
	margin-left: 15%;
	transition: all 0.5s ease;
}
.cakePrice img:hover{
	transform: rotate(360deg);
}
p.priceName{
	width: 100%;
	font-size: 30px;
	font-family: 'myFont';
	margin-left: 5%;
}
.cakePrice h2{
	float: right;
	width: 45%;
	font-size: 40px;
	font-family: 'myFont';
}
.about{
	background-image: url(../../img/fresh_snow_@2X.png);
	width: 90%;
	margin-left: 5%;
	border-radius: 55px;
	padding: 10px;
	margin-top: 40px;
}
.about p,.contactInfo p{
	color: rgba(75, 75, 83, 0.86);
	font-family: "myFont";
	font-size: 35px;	
	text-align: center;
}
h3{
	content: "";
	color: #e4b9cf;
}

/*Our works*/
.worksBlock{
	width: 80%;
	margin-left: 10%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.worksBlock img{
	display: inline-block;
	width: 16%;
	height: 16%;
	transition: all 3000ms;
}
.worksBlock img:hover{
	transform: scale(3.05, 3.05);
}
.works p{
	font-size: 50px;
}


/*Order Form*/
.order{
	display: block;
	margin-top: 60px;
	width: 100%;
	background:url(../img/green.jpg);
}
.topOrder{
	background: url(../img/arrow.png)  repeat-x;
}
.bottomOrder{
	background: url(../img/arrow-top.png);
}
#orderForm{
	width: 50%;
	margin-left: 25%;
	margin-top: 8%;
}
.order p, .taste p, .contact p{
	font-size: 50px;
}
.orderInput{
	padding:15px 10px;
	display: block;
	width: 100%;
	margin-bottom: 15px;
}
.empty{
	border-color: red;
}
#send{
	background-color: #9ec9c4;
	color:#ffffff;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 28px;
	width: 50%;
	font-family: 'myFont';
	margin: 65px 0;
	margin-left: 25%;
	border-radius: 25px;
	padding:15px 10px;
	outline: none;

}
#send:hover{
	background-color: #95D5CE;
	cursor:pointer;
}
#sendMessage{
	font-family: 'myFont';
	font-size: 26px;
	color:red;
	margin-left: 25%;
	margin-bottom: 15px;
}
.order img{
	margin-bottom: 20px;
}

/*Taste Cake*/
.taste{
	overflow: hidden;
}
.line{
	width: 70%;
	margin-left: 15%;
}
.tasteBlock{
	float:right;
	margin-bottom: 35px;
	width: 33%;
}
.taste img{
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1);
	border-radius: 200px;
	transition: all 0.5s ease;
	width: 100px;
	height: 95px;
	margin-left:27%;
}

p.tasteName{
	display: block;
	width: 40%;
	font-size: 22px;
	font-family: 'myFont';
	margin-left: 20%;
	margin-bottom: 10px;
} 
.line span{
	display: block;
	width: 79%;
	font-size: 22px;
	font-family: 'myFont';
	text-align: center;
}

/*Contact us*/
.contact{
	width: 80%;
	margin-left: 10%;
	margin-top: 40px;
}
.contact img{
	width: 15%;
	margin:5% 9%;
}
.contact img:hover{
	transform: scale(1.05, 1.05);
}
.contactInfo{
	margin:50px 0px;
}
.contactInfo img{
	margin-left: 40%;
}

/*Footer*/
footer{
	background-image:url(../../img/bottom.png);
	height: 70px;
	margin-top: 20%;
}
footer button{
	background: url(../img/home.png) no-repeat;
	width: 49px;
	height: 59px;
	background-size: 45px 54px;
	margin-left: 46%;
	margin-top: 12px;
	border: 0px;
	outline: none;
	cursor: pointer;
}
}
footer button:hover{
	transform: scale(1.05, 1.05);
}
