#container{
	width:80%;
	margin-left: 10%;
}
.orderBlock{
	display:inline-block;
	width: 33%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 40px;

}
.orderView{
	font-size:18px;
	border:1px solid black;
	padding:4%;
	border-radius: 10px;
	height: 100%;
	box-sizing:border-box;
	
}
.orderView input{
	background-color: #9ec9c4;
	text-align: center;
  font-size: 15px;
  margin-top: 6%;
  outline: none;
  padding:2px;
}
.orderView input:hover{
	cursor:pointer;
	background-color: #95D5CE;
	 outline: none;
}
.orderStatus-0 {
	border-top: 5px solid green;
	border-bottom: 5px solid green;
}
.orderStatus-1{
	border-top: 5px solid red;
	border-bottom: 5px solid red;
}
.orderStatus-2{
	border-top: 5px solid blue;
	border-bottom: 5px solid blue;
}

.orderStatus-2 input[id^='status-']{
	display:none;
}
/*Topping Table*/
#toppingTable{
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:13px;
	text-shadow: 1px 1px 0px #fff;
	margin:20px;
	border:#ccc 1px solid;
	box-shadow: 0 1px 2px #d1d1d1;
}
#toppingTable th{
	padding:10px;
	border-top:2px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
	
}
#toppingTable tr{
    border-radius: 6px;
    height: 60px;
    margin: 10px 0;   
}
#toppingTable th, td{
	text-align: left;
	padding-left:20px;
	vertical-align: middle;
}
#toppingTable img{
	margin-top: 10px;
	height: 76px;
	width: 78px;
	border-radius: 200px;
}
#toppingTable button{
	margin-right: 5px;
}
#toppingTable button:before{
	content: "\e00f";
}
